/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/beaurepaire.png");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Numans', sans-serif;
}

.container{
height: 75%;
align-content: center;
}

.card{
border-radius: 3%;
margin-top: auto;
margin-bottom: auto;
width: 50%;
color: black;
background-color: rgb(255, 255, 255) !important;
vertical-align: center;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgb(230, 176, 16);
}

.social_icon span:hover{
color: rgb(177, 136, 14);
cursor: pointer;
}

.card-header h3{
color: rgb(0, 0, 0);
text-shadow: 3px 2px white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(230, 176, 16);
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: black;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login-btn{
font-size: 1.25em;
color: white;
background-color: rgb(230, 176, 16) !important;
border-color: rgb(220, 166, 06) !important;
width: 25%;
height: 100%;
}

.login-btn:hover{
color: black;
background-color: rgb(177, 136, 14) !important;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}

.footer{
    height: 50%;
    width : 100%;
}

.header{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    background: rgba(255, 255, 255, 1);
    height: 150px
}

.header img {
    float: left;
    width: 100px;
    height: 100%;
  }

.header h2 {
    padding-left: 2em;
    position: relative;
    left: 10px;
  }

  .header h3 {
    padding-left: 2em;
    position: relative;
    left: 10px;
  }

  .icon-bckgrnd {
    background: #f7f7f7;
    line-height: 1.5px;
    margin-top: 50px;
  }

  #errMsg {
    text-align: center;
    color: #ff0000;
    font-style: italic;
    visibility: hidden;
  }