.picturesrow {
  display: flex;
}

.picturescolumn {
  flex: 33.33%;
}

.pic {
  filter: brightness(40%);
  transition: 0.5s;
}

.pic:hover {
  filter: brightness(100%);
}

.header.masthead {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.adminFooter {
  bottom: 0;
  position: -webkit-sticky;
  width: 100%;
  padding: 1%;
  background-color: #E8E8E8;
}

@media screen and (min-width:600px),
screen and (min-height:600px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: block !important;
  }
}

@media screen and (max-height:600px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }
}

@media screen and (max-width:600px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }
}

.galleryImg {
  transition: 0.3s;
}

.galleryModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

#directions {
  background-image: url("../img/pictureboard/img1.jpg");
  background-position: center;
  background-size: cover;
  padding: 0%;
  position: relative;
}

.layer {
  background-color: hsla(115, 100%, 38%, 0.9);
  position: relative;
  height: auto;
  padding: 3%;
}

.galleryModal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.galleryModal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 20%px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .galleryModal-content {
    width: 100%;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #b9b9b9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 5px;
  transform: translate(0%, 50%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(0, 129, 189);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(0, 129, 189);
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}