/* Row of image gallery modals */
.picturesrow {
  display: flex;
}

/* Setting each gallery image modal to take equal screen width */
.picturescolumn {
  flex: 33.33%;
}

/* Darkening image modals before hovered over */
.pic {
  filter: brightness(40%);
  transition: 0.5s;
}
.pic:hover {
  filter: brightness(100%);
}

/* Setting masthead size to fill container */
.header.masthead {
  height: 100%;
  width: 100%;
}

/* Creating a sticky footer */
.adminFooter {
  bottom: 0;
  position: -webkit-sticky;
  width: 100%;
  padding: 1%;
  background-color: #E8E8E8;
}

/* Altering appearance of site based on desktop or mobile */
@media screen and (min-width:600px),
screen and (min-height:600px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: block !important;
  }
}
@media screen and (max-height:600px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }
}
@media screen and (max-width:600px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }
}

/* Setting the display for a gallery modal once selected */
.galleryModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Setting the background for the directions section */
#directions {
  background-image: url("../img/pictureboard/img1.jpg");
  background-position: center;
  background-size: cover;
  padding: 0%;
  position: relative;
}

.nav-item{
  padding-top: 2%;
}

/* Overlay for the directions section to make background predominantly green */
.layer {
  background-color: hsla(115, 100%, 38%, 0.9);
  position: relative;
  height: auto;
  padding: 3%;
}

/* Caption text for gallery modal once clicked */
.galleryModal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Setting animations for modals */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}
@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Close button for gallery modals once clicked */
.close {
  position: absolute;
  top: 20%px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .galleryModal-content {
    width: 100%;
  }
}

/* Caption for gallery modals once clicked */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}