/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.container {
  height: 75%;
  align-content: center;
}

.renderObject {
  height: 92%;
  width: 100%;
  align-content: center;
}

.header {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  background: rgba(255, 255, 255, 0.76);
  height: 15%
}

.header img {
  float: left;
  width: 6%;
  height: 100%;
}

.header h2 {
  padding-left: 2em;
  position: relative;
  left: 10px;
}

.header h3 {
  padding-left: 2em;
  position: relative;
  left: 10px;
}

/* code inserted by Alex */
/* The Modal (background) */
.modal {
  display: none;
  position: relative;
  left: 25%;
  z-index: 1;
  top: 4;
  width: 75% !important;
  height: 100%;
  overflow: auto;
}

.close {
  color: #fff;
  float: right;
  font-size: xx-large;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0Dc200;
  text-decoration: none;
  cursor: pointer;
}

.Mheader {
  text-align: center;
  padding: 10px;
  background-color: #10c400;
  color: white;
  font-size: xx-large;
}

.Mbody {
  padding: 1.5rem;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0px 0px 10px 0px;
  width: 80%;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size: x-large;
  font-weight: 500;
}

.insertModal {
  padding: 0.5rem;
}

.navbar-brand {
  color: black !important;
}

.nav-link {
  color: #6c757d !important;
}

.nav-link:hover {
  color: #10c400 !important;
}

.map-footer {
  position: absolute; 
  width: 100%; 
  bottom: 0;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 1rem;
}

#CloseBtn {
  color: #fff;
  display: block;
  width: 100%;
  border: none;
  background-color: #10c400;
  padding: 10px 24px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#patientMsg {
  align-self: center;
  font-style: italic;
  font-size: medium;
  margin-right: 1rem;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* end of code inserted by Alex */