/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: linear-gradient(to bottom, rgba(182, 168, 158, 0.253) 0%, rgba(182, 168, 158, 0.233) 100%), url('../img/beaurepaire.png');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
border-radius: 3%;
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 600px;
color: black;
background-color: rgb(255, 255, 255) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgb(230, 176, 16);
}

.social_icon span:hover{
color: rgb(177, 136, 14);
cursor: pointer;
}

.card-header h3{
color: rgb(0, 0, 0);
text-shadow: 3px 2px white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(230, 176, 16);
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: black;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
font-size: 1.25em;
color: white;
background-color: rgb(230, 176, 16);
width: 25%;
height: 100%;
}

.login_btn:hover{
color: black;
background-color: rgb(177, 136, 14);
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}

.footer{
    height: 50%;
    width : 100%;
    background-color:rgba(255, 255, 255, 0.76);
}

.header{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    background: rgba(255, 255, 255, 0.76);
    height: 15%
}

.header img {
    float: left;
    width: 6%;
    height: 100%;
  }

.header h2 {
    padding-left: 2em;
    position: relative;
    left: 10px;
  }

  .header h3 {
    padding-left: 2em;
    position: relative;
    left: 10px;
  }
