.picturesrow {
  display: flex;
}

.picturescolumn {
  flex: 33.33%;
}

.pic {
  filter: brightness(40%);
  transition: 0.5s;
}

.pic:hover {
  filter: brightness(100%);
}

header.masthead {
  height: 100%;
  width: 100%;
}

@media screen and (min-width:600px) {
  .mobile {display: none !important;}
  .desktop {display: block !important;}
}

@media screen and (max-width:600px) {
  .mobile {display: block !important;}
  .desktop {display: none !important;}
}
/* , screen and (min-height:1023px) */
