/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');


.container {
  height: 75%;
  align-content: center;
}

.renderObject {
  height: 75%;
  align-content: center;
}

.navbar-brand {
  font-size: 2rem !important;
}

.small {
  font-size: 1.5rem !important;
}

.press {
  background-color: #ddd;
  border: 3px solid #ccc;
  border-radius: 50%;
  position: fixed;
  box-shadow: 1px 1px 15px #bbb;
  height: 25px;
  width: 25px;

}

.footer {
  height: 5%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.76);
}

.header {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  background: rgba(255, 255, 255, 0.76);
  height: 15%
}

.header img {
  float: left;
  width: 6%;
  height: 100%;
}

.header h2 {
  padding-left: 2em;
  position: relative;
  left: 10px;
}

.header h3 {
  padding-left: 2em;
  position: relative;
  left: 10px;
}

/* code inserted by Alex */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* end of code inserted by Alex */
