<h3><a class="btn btn-secondary" style="background-color: #10C400 !important; border-color: #10C400 !important;" href="/features"><i class="fa fa-plus"></i> Create New</a> Feature List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Feature Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.feature_title}}</td>
            <td>
                <a href="/features/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/features/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>